<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Ena&apos;s World</string>
		<key>Author</key>
		<string>Tedi</string>
		<key>Pages</key>
		<integer>345</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rob&apos;s Book</string>
		<key>Author</key>
		<string>Rob</string>
		<key>Pages</key>
		<integer>200</integer>
	</dict>
</array>
</plist>
